body{
    margin:0;
    padding:0;
    background:#0f172a;
    color:white;
    font-family:Arial;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
    background:#111827;
}

nav h1{
    color:#00ff99;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.card{
    background:#1e293b;
    padding:20px;
    border-radius:15px;
    margin:20px;
}
/* =========================
   LIVE MARKET TICKER FINAL
========================= */

.ticker-wrap{
    width:100%;
    overflow:hidden;
    position:relative;
    height:40px;
    display:flex;
    align-items:center;
}

.ticker-track{
    display:flex;
    align-items:center;
    gap:24px;
    width:max-content;
    animation:tickerMove 35s linear infinite;
}

@keyframes tickerMove{
    from{
        transform:translateX(0%);
    }
    to{
        transform:translateX(-50%);
    }
}

.ticker-item{
    display:flex;
    align-items:center;
    gap:8px;
    white-space:nowrap;
    font-size:12px;
    font-weight:700;
    font-family:Orbitron,sans-serif;
    color:white;
}
